.main-cont {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem 0.5rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: sticky;
  background-color: #203B44;
  color: #F1F1E6;
}

.list-cont ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

.list-cont ul li {
  padding: 10px;
  font-size: 1.5em;
}

.search-profile-cart-cont > * {
  margin-left: 1.5rem;
  text-align: center;
}

.brand-cont {
  text-align: center;
}

.brand-cont h1 {
  font-weight: 500;
  font-family: "Pacifico", cursive;
}

.right-cont {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.menu-icon {
  display: none;
}



@media (max-width: 830px) {
  .right-cont {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    padding-right: 2rem;
  }

  .brand-cont {
    padding-left: 2rem;
  }

  .main-cont {
    position: relative;
    padding: 0;
  }

  .right-mobile-cont {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5.5rem;
    padding: 1rem;
    gap: 2rem;
    background-color: aquamarine;
    z-index: 1;
  }

  .list-cont ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .list-cont ul li {
    font-size: 1.7rem;
  }

  .search-profile-cart-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
