nav {
  width: 100%;
  background: lightgray;
  padding: 1rem;
  max-width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.main-cont h1 {
  font-size: 3rem;
}

.right-cont {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}

.list-cont ul {
  display: flex;
}
.list-cont ul li {
  font-size: 1.5rem;
  margin-left: 3rem;
  cursor: pointer;
  font-weight: 500;
}

.search-profile-cart-cont > * {
  margin-left: 2rem;
}

.menu-icon {
  display: none;
}
