* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: aliceblue;
}

h1 {
  font-size: 3rem;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  color: black;
}

@media (max-width: 340px) {
  html {
    font-size: 5px;
  }
}

@media (min-width: 321px) and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}
