.products-page {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

.products-page > .main-heading {
  font-size: 2rem;
  width: 20rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 2px solid lightgray;
}

.main-products-sec {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 2rem;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  color: rgb(80, 80, 80);
  transition: all 0.3s;
  font-size: 1.4rem;
  font-weight: 500;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}

.showFilterBtn{
  width: fit-content;
  background-color: lightblue;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 3rem;
  cursor: pointer;
  margin-left: 1rem;
}

.filterBox {
  width: 30rem;
  background-color: lightgray;
  padding: 2rem 3rem 2rem 3rem;
  position: absolute;
  top: 12rem;
  left: 7rem;
}

.price-filter-cont {
  width: 100%;
}

.filterBox p {
  width: fit-content;
  font-size: 1.7rem;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1976d2bb;
  color: #efefef;
  border-radius: 5px;
  margin: 0 auto;
}

.slider {
  margin-top: 3rem;
}
.slider .MuiSlider-valueLabelCircle {
  font-size: 1.2rem;
}
.slider .MuiSlider-thumb {
  width: 1.3rem;
  height: 1.3rem;
}

.category-filter-cont {
  margin-top: 3rem;
  text-align: center;
}

.category-box {
  font-size: 1.5rem;
  background-color: rgba(121, 28, 208, 0.832);
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-weight: bold;
  color: #efefef;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.rating-filter-cont {
  margin-top: 3rem;
}

